In [2]:
#Lets import libraries
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.model_selection import cross_val_score
from sklearn.metrics import accuracy_score

In [3]:
from sklearn.linear_model import LogisticRegression
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.ensemble import RandomForestClassifier

# Data Pre-Processing

In [4]:
#Lets import dataset from csv to pandas dataframe
credit = pd.read_csv(r"C:\Users\bharathi.v04\Downloads\DS\creditcard.csv")

In [5]:
#print the first 5 rows of dataset
credit.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [6]:
#Determine the no of rows and columns in dataset
credit.shape

(284807, 31)

In [7]:
#obtaining the information from dataset
credit.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [8]:
#Finding out the null value
credit.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [9]:
#Finding out the class type
credit['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

# Splitting features and target

In [10]:
X = credit.drop(columns='Class',axis=1)
Y = credit['Class']

# Standarization of Data

In [11]:
from sklearn.preprocessing import StandardScaler

In [12]:
scaler = StandardScaler()

In [13]:
scaler.fit(X)

StandardScaler()

In [14]:
standarized_date = scaler.transform(X)

In [15]:
print(standarized_date)

[[-1.99658302 -0.69424232 -0.04407492 ...  0.33089162 -0.06378115
   0.24496426]
 [-1.99658302  0.60849633  0.16117592 ... -0.02225568  0.04460752
  -0.34247454]
 [-1.99656197 -0.69350046 -0.81157783 ... -0.13713686 -0.18102083
   1.16068593]
 ...
 [ 1.6419735   0.98002374 -0.18243372 ...  0.01103672 -0.0804672
  -0.0818393 ]
 [ 1.6419735  -0.12275539  0.32125034 ...  0.26960398  0.31668678
  -0.31324853]
 [ 1.64205773 -0.27233093 -0.11489898 ... -0.00598394  0.04134999
   0.51435531]]

# Train Test & Split

In [16]:
X_train, X_test, Y_train, Y_test = train_test_split(X, Y, test_size=0.2, stratify=Y, random_state=3)

In [17]:
print(X.shape, X_train.shape, X_test.shape)

(284807, 30) (227845, 30) (56962, 30)

In [18]:
models = [LogisticRegression(max_iter=1000),SVC(kernel='linear'),KNeighborsClassifier(),RandomForestClassifier()]

In [19]:
def compare_model_train_test():
    
    for model in models:
        
        model.fit(X_train, Y_train)
        
        test_data_prediction = model.predict(X_test)
        
        accuracy = accuracy_score(Y_test,test_data_prediction)
        
        print('Accuracy score of the model ',model, ' = ',accuracy)

In [20]:
compare_model_train_test()

Accuracy score of the model  LogisticRegression(max_iter=1000)  =  0.9991397773954567
Accuracy score of the model  SVC(kernel='linear')  =  0.9985428882412837
Accuracy score of the model  KNeighborsClassifier()  =  0.9983497770443454
Accuracy score of the model  RandomForestClassifier()  =  0.9995962220427653

# Cross Validation

In [21]:
cv_score_lr = cross_val_score(LogisticRegression(max_iter=1000), X, Y, cv=5)

print(cv_score_lr)

mean_accuracy_lr = sum(cv_score_lr)/len(cv_score_lr)

mean_accuracy_lr = mean_accuracy_lr*100

mean_accuracy_lr = round(mean_accuracy_lr,2)

print(mean_accuracy_lr)

[0.98242688 0.99942067 0.9988062  0.99920999 0.9988062 ]
99.57

In [22]:
cv_score_svc = cross_val_score(SVC(kernel='linear'), X, Y, cv=5)

print(cv_score_svc)

mean_accuracy_svc = sum(cv_score_svc)/len(cv_score_svc)

mean_accuracy_svc = mean_accuracy_svc*100

mean_accuracy_svc = round(mean_accuracy_svc,2)

print(mean_accuracy_svc)

[0.78901724 0.99899933 0.99833219 0.99882376 0.99827952]
95.67

# Compare of model with cross validation

In [24]:
models_2 = [LogisticRegression(max_iter=1000) , SVC(kernel='linear'), KNeighborsClassifier(), RandomForestClassifier()]

In [27]:
def compare_model_cross_validation():
    
    for model in models_2:
        
        cv_score = cross_val_score(model,X,Y,cv=5)
        
        mean_accuracy = sum(cv_score)/len(cv_score)
        
        mean_accuracy = mean_accuracy*100
        
        mean_accuracy = round(mean_accuracy,2)
        
        print("Cross Validation Accuracies for the model ",model, ' = ',cv_score)
        print("Accuracy % of the ",model,' = ',mean_accuracy)
        print("----------------------------------------------------")

In [ ]:
compare_model_cross_validation()

Cross Validation Accuracies for the model  LogisticRegression(max_iter=1000)  =  [0.98242688 0.99942067 0.9988062  0.99920999 0.9988062 ]
Accuracy % of the  LogisticRegression(max_iter=1000)  =  99.57
----------------------------------------------------
Cross Validation Accuracies for the model  SVC(kernel='linear')  =  [0.78901724 0.99899933 0.99833219 0.99882376 0.99827952]
Accuracy % of the  SVC(kernel='linear')  =  95.67
----------------------------------------------------