In [1]:
#lets import dependencies
import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
#loading data from csv to pandas dataframe
data = pd.read_csv(r"C:\Users\bharathi.v04\Downloads\DS\Social_Network_Ads.csv")

In [3]:
#print first 5 rows of data
data.head()

   Age  EstimatedSalary  Purchased
0   19            19000          0
1   35            20000          0
2   26            43000          0
3   27            57000          0
4   19            76000          0

In [4]:
data.tail()

     Age  EstimatedSalary  Purchased
395   46            41000          1
396   51            23000          1
397   50            20000          1
398   36            33000          0
399   49            36000          1

In [5]:
data.shape

(400, 3)

In [6]:
#finding null values
data.isnull().sum()

Age                0
EstimatedSalary    0
Purchased          0
dtype: int64

In [7]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 400 entries, 0 to 399
Data columns (total 3 columns):
 #   Column           Non-Null Count  Dtype
---  ------           --------------  -----
 0   Age              400 non-null    int64
 1   EstimatedSalary  400 non-null    int64
 2   Purchased        400 non-null    int64
dtypes: int64(3)
memory usage: 9.5 KB

In [8]:
#splitting data & label
X = data.drop(columns='Purchased',axis=1)
Y = data['Purchased']

In [18]:
X_train, X_test,Y_train,Y_test = train_test_split(X,Y,test_size=0.1,random_state=2)

In [19]:
#Training on model
model = LogisticRegression()

In [20]:
model.fit(X_train,Y_train)

LogisticRegression()

In [21]:
#accuracy on the training data
X_train_prediction  = model.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [22]:
print("The accuracy score on training data is: ",training_data_accuracy)

The accuracy score on training data is:  0.65

In [23]:
#accuracy on the training data
X_test_prediction  = model.predict(X_test)
test_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [24]:
print("The accuracy score on test data is: ",test_data_accuracy)

The accuracy score on test data is:  0.575

In [27]:
from sklearn.svm import SVC

In [28]:
classifiers = SVC()

In [29]:
classifiers.fit(X_train, Y_train)

SVC()

In [37]:
#accuracy on the training data
X_train_prediction  = classifiers.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [31]:
print("The accuracy score on training data is: ",training_data_accuracy)

The accuracy score on training data is:  0.7777777777777778

In [32]:
#accuracy on the training data
X_test_prediction  = classifiers.predict(X_test)
training_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [33]:
print("The accuracy score on test data is: ",test_data_accuracy)

The accuracy score on test data is:  0.575

In [34]:
from sklearn.tree import DecisionTreeClassifier

In [35]:
tree = DecisionTreeClassifier()

In [36]:
tree.fit(X_train,Y_train)

DecisionTreeClassifier()

In [38]:
#accuracy on the training data
X_train_prediction  = tree.predict(X_train)
training_data_accuracy = accuracy_score(X_train_prediction,Y_train)

In [39]:
print("The accuracy score on training data is: ",training_data_accuracy)

The accuracy score on training data is:  0.9972222222222222

In [40]:
#accuracy on the training data
X_test_prediction  = tree.predict(X_test)
training_data_accuracy = accuracy_score(X_test_prediction,Y_test)

In [41]:
print("The accuracy score on test data is: ",test_data_accuracy)

The accuracy score on test data is:  0.575