In [2]:
#lets import dependencies
import pandas as pd
import numpy as np
from sklearn.feature_extraction import text
from sklearn.metrics.pairwise import cosine_similarity

In [4]:
#loading dataset to pandas dataframe
df=pd.read_csv(r"C:\Users\User\Downloads\articles.csv",encoding='latin1')

In [5]:
df.head()

,Article,Title
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms
2,You must have seen the news divided into categ...,News Classification with Machine Learning
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning

In [6]:
df.tail()

,Article,Title
29,Many machine learning algorithms can be used t...,Applications of Deep Learning
30,Almost every app or website you visit today sh...,Introduction to Recommendation Systems
31,There are so many algorithms in machine learni...,Use Cases of Different Machine Learning Algori...
32,"In machine learning, the Naive Bayes algorithm...",Naive Bayes Algorithm in Machine Learning
33,Swapping elements of a Python list is very sim...,Swap Items of a Python List

letâ€™s use the cosine similarity algorithm and write a Python function to recommend articles:

In [7]:
articles=df['Article'].tolist()
uni_tfidf = text.TfidfVectorizer(input=articles,stop_words='english')
uni_matrix=uni_tfidf.fit_transform(articles)
uni_sim=cosine_similarity(uni_matrix)
def recommend_articles(x):
    return ", ".join(df['Title'].loc[x.argsort()[-5:-1]])
df['Recommended Articles']=[recommend_articles(x) for x in uni_sim]
df.head()

,Article,Title,Recommended Articles
0,Data analysis is the process of inspecting and...,Best Books to Learn Data Analysis,"Introduction to Recommendation Systems, Best B..."
1,The performance of a machine learning algorith...,Assumptions of Machine Learning Algorithms,"Applications of Deep Learning, Best Books to L..."
2,You must have seen the news divided into categ...,News Classification with Machine Learning,"Language Detection with Machine Learning, Appl..."
3,When there are only two classes in a classific...,Multiclass Classification Algorithms in Machin...,"Assumptions of Machine Learning Algorithms, Be..."
4,The Multinomial Naive Bayes is one of the vari...,Multinomial Naive Bayes in Machine Learning,"Assumptions of Machine Learning Algorithms, Me..."

In [8]:
print(df['Recommended Articles'][22])

BIRCH Clustering in Machine Learning, Clustering Algorithms in Machine Learning, DBSCAN Clustering in Machine Learning, K-Means Clustering in Machine Learning